/* Variables */
:root {
    --Maincolor: #0000ff;
}

/* Basislayout */
html, body {
    height: 100%;
    padding: 0;
    margin-top: 0;
    background-color: #111111;
    color: #0000ff;
    font: Verdana, Arial, Sans-Serif;
}

main {
    padding: 0px;
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
}

header {
    color: #5050A0;
    text-align: center;
}


footer {
    clear: both;
    text-align: center;
    padding-bottom: 10px;
}

#headerimage {
    width: 300px;
    margin: 0px 200px;
}


/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin-right: 15px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: #5050A0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#headerimage {
    margin: 40px 200px 30px 200px;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #171717;
    border: 1px solid var(--Maincolor);
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: var(--Maincolor);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111111;
}

nav li a.active {
    color: black; 
    background-color: var(--Maincolor);
}

.nav2img {
    width: 200px;
}

.nav2imgSpreader {
    width: 33px
}