/* Variables */
:root {
    --Maincolor: #ff9900;
}

/* Basislayout */
html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    color: var(--Maincolor);
    font: Verdana, Arial, Sans-Serif;
}

.backgroundimage {
    position: absolute;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    position: inherit;
}

main {
    padding: 0 auto 0 0;
    margin: 0 auto;
    width: 700px;
    padding: 0px 10px;
    min-height: 100%; 
    position: relative;
    background-color: #333333;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
}


article {
    text-align: justify;
}

header {
    color: #5050A0;
    text-align: center;
}


footer {
    clear: both;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    color: var(--Maincolor);
}

#headerimage {
    width: 300px;
    margin: 0px 200px;
}


/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin-right: 15px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: #ff0000;
    text-decoration: none;
}

a:hover {
    color: #aa0000;
    text-decoration: underline;
    size: 200%;
}

#headerimage {
    margin: 40px 200px 30px 200px;
}

.carImage {
    float: right;
    border: var(--Maincolor) solid 1px;
    margin: 10px;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #222222;
    border: 1px solid var(--Maincolor);
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: var(--Maincolor);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111111;
}

nav li a.active {
    color: black; 
    background-color: var(--Maincolor);
}

.nav2img {
    width: 200px;
}

.nav2imgSpreader {
    width: 33px
}